/* Estilos para el contenedor principal del componente */
.filter-container {
    z-index: 1500;
    margin-bottom: 20px;
}

/* Estilos para los selectores */
.select-container {
    z-index: 1400;
    margin-bottom: 10px;
}

/* Estilos para las etiquetas de los selectores */
.select-label {
    margin-right: 10px;
}

/* Estilos para los selectores */
.select-field {
    z-index: 1401;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilos para la lista de resultados */

.result-list {
    top: 50%;
    bottom: 50%;
    z-index: 1402;
    list-style: none;
    padding: 0;
    background-color: #deac18;
}

/* Estilos para los elementos de la lista de resultados */
.result-item {
    z-index: 1403;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
}
