/*Contedor principal del menu column o desaparecen tres puntos*/
/* Define la fuente Bahnschrift Condensed */
@font-face {
    font-family: 'Bahnschrift Condensed';
    src: local('Bahnschrift Condensed'), url('https://fonts.gstatic.com/s/bahnschriftcondensed/v5/wXKvE3kQtFc9b2hz1RZWv9EBKSbCjyK2IwcYBHGqwN4.woff2') format('woff2');
    /* Puedes ajustar la URL si prefieres utilizar una CDN o una ruta local */
    font-weight: 400; /* Puedes ajustar esto según los archivos de fuente disponibles */
    font-style: normal;
}

/* Aplica la fuente a elementos específicos */
h1 {
    font-family: 'Bahnschrift Condensed', sans-serif;
}

p {
    font-family: 'Bahnschrift Condensed', sans-serif;
}

.menuContainer {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Tamaño máximo del contenedor, ajusta según necesidades */
    width: 100%;
    height: auto;
    left:0px;
    top:7%;
    margin: 0 auto; /* Centrar el contenido */
    padding: 0px;
    color:white;
    /**background-color para diseno**/
    /*background-color: #deac18;*/
    background-color:transparent;
}


/* los tres punticos*/
.menuIcon {
    z-index: 1003;
    position: relative;
    color: white;
    left: -45%;
    top:  -10px;
    height: 20%;
}

/*Contenedor del menu con las opciones N, vacio*/
.menu {
    position:relative;
    width: 100%;
    max-width: 100%;
    left: 0%;
    z-index: 11;
    display: none;
    /**background-color para diseno**/
    /*background-color: green;*/
    background-color: transparent;
    color: white;
    top:200%;
    height: 100%;

}
/*Cuadro con el menu catalogo N, el del menu como tal*/
/*<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bahnschrift+Condensed:wght@400;700&display=swap">*/
#menu .MuiMenuItem-root {

    position: relative;
    left: 3%;
    top:50%;
    width: 94%;
    height: auto;
    font-family: 'Lato', serif;
    /*font-family: 'Bahnschrift Condensed', sans-serif;
    font-size: 1rem; /* Elige el tamaño de fuente base para todo el proyecto */
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: Arial, sans-serif; */
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Montserrat', serif;*/
    /*font-family: 'Cormorant+Garamond', serif;*/
    /*font-family: 'Pacifico', serif;*/
    /*Montserrat-Lato-Cormorant+Garamond-Merriweather-Pacifico*/
    /* Peso de la fuente */
    /*color: #f8f4f4;*/
    /**background-color para diseno**/
    /*background-color: #212d60;*/
    color: #f8f4f4;
    font-weight: normal;
    background-color:  transparent;
}

#menu .MuiMenuItem-root::after {
    content: '';
    position:absolute;
    bottom: -2px;
    left: 0%;
    right: 0%;
    /*width: 100%;*/
    height: 3px;
    background-color: white;
    opacity: 0.5;
}

#menu .MuiMenuItem-root:hover {
    right: 24%;
    background-color: #8f0303; /* #8f0303;  Cambia el color de fondo al pasar el cursor sobre el elemento */
}


/* Mostrar el menú cuando esté abierto */

.menu.open {
    display: block;

}

.menuItem {
    padding: 8% 16%;
    cursor: pointer;
    background-color: white;
    color: white;
}


.menuItem:hover {
    text-decoration: underline;
}

/************/
.currentComponent{
    z-index: 2;
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /*max-width: 00px;*/
    background-color: transparent;
    width: 50%;
    height: 90vh;
    top: 50%;
    left:25%;
    /*border-top: white;
    border-top-style: double;*/
}

.currentComponent.open{
    border-top: none;
}
