/* Estilos para el contenedor principal del componente */
/*npm install react-select  --force or --legacy-peer-deps
*/
.filter-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    top:6px;
    left: 30%;
    z-index: 1500;
    background-color:  transparent;
    align-items: center;
}

/* Estilos para los selectores */
.select-container {
    position: relative;
    z-index: 1400;
    height: 20px;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.5);
    color: grey; /* Esto asegura que el texto sea visible sobre el fondo negro transparente */
    font-size: 12px;
}

/* Estilos para las etiquetas de los selectores */
.select-label {
    margin-right: 10px;
}

/* Estilos para los selectores */
.select-field {
    position: relative;
    z-index: 1401;
    border: 1px solid transparent;
    height: 20px;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    color: grey; /* Esto asegura que el texto sea visible sobre el fondo negro transparente */
    font-size: 12px;
    font-family: 'Bahnschrift Condensed', sans-serif;
}

/* Estilos para la lista de resultados */

.select-container option,
.select-field option {
    background-color: #000000;
    color: white; /* Asegura que el texto sea visible sobre el fondo rojo */
    font-size: 12px;
    font-family: 'Bahnschrift Condensed', sans-serif;
}


/* Estilo para las opciones al hacer hover */
.select-container option:hover,
.select-field option:hover {
    background-color: rgba(255, 0, 0, 1); /* Rojo opaco en hover */
    font-weight: bold; /* Negrita al pasar el mouse */
}